<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="756ead">  <td>18/08/25 11:07:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTest.Checkcontactus_post(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:ProjectPractice.DemoTest@66a3ffec]">Checkcontactus_post</td> 
  <td>main@1273765644</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>18/08/25 11:07:54</td>   <td>5254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DemoTest.afterMethod()[pri:0, instance:ProjectPractice.DemoTest@66a3ffec]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1273765644</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>18/08/25 11:07:28</td>   <td>-20537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DemoTest.beforeMethod()[pri:0, instance:ProjectPractice.DemoTest@66a3ffec]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1273765644</td>   <td></td> </tr>
</table>
