<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="78f375">  <td>18/08/23 08:56:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.FirstTestcase(java.lang.String)[pri:0, instance:io.Bessant.Tech.Test1@5442a311]">FirstTestcase</td> 
  <td>pool-1-thread-1@111746992</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>18/08/23 08:56:55</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.Temporary()[pri:0, instance:io.Bessant.Tech.Test1@5442a311]">Temporary</td> 
  <td>pool-1-thread-1@111746992</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>18/08/23 08:56:55</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.Test3()[pri:0, instance:io.Bessant.Tech.Test2@6a4f787b]">Test3</td> 
  <td>pool-1-thread-2@972956531</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>18/08/23 08:56:55</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test1.afterMethod()[pri:0, instance:io.Bessant.Tech.Test1@5442a311]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@111746992</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>18/08/23 08:57:15</td>   <td>20201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test2.afterMethod()[pri:0, instance:io.Bessant.Tech.Test2@6a4f787b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@972956531</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>18/08/23 08:57:17</td>   <td>21594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test1.afterMethod()[pri:0, instance:io.Bessant.Tech.Test1@5442a311]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@111746992</td>   <td></td> </tr>
<tr bgcolor="c87b81">  <td>18/08/23 08:56:55</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test2.beforeMethod()[pri:0, instance:io.Bessant.Tech.Test2@6a4f787b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-2@972956531</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>18/08/23 08:56:55</td>   <td>-5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.beforeMethod()[pri:0, instance:io.Bessant.Tech.Test1@5442a311]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@111746992</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>18/08/23 08:56:55</td>   <td>11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test1.beforeMethod()[pri:0, instance:io.Bessant.Tech.Test1@5442a311]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@111746992</td>   <td></td> </tr>
</table>
